$primary-color: rgb(200, 172, 206);
$warning-color: rgb(250, 205, 3);
$danger-color: rgb(172, 7, 7);
$sucsess-color: rgb(16, 146, 16);
$paddaing-16: 16px;

$btn-size: (
  "sm": 20px,
  "md": 30px,
  "lg": 40px,
);
